<div class="card mb-2">
  <!-- property binding -->
  <img [src]="prod.imagen" class="img-card-top"/>
  <div class="card-body">
    <h5 class="card-title">
      <!-- interpolacion -->
      {{prod.nombre}}
    </h5>
    <p class="card-text">
      Descripcion: {{prod.descripcion}}
    </p>
    <p class="card-text" >
      Precio: {{prod.precio}}
    </p>

    <!-- <button class="btn btn-primary" >
      Ver Info
    </button> -->
    <button 
      class="btn btn-success" 
      (click)="borrar()"
    >
      Eliminar
    </button>
  </div>
</div>